*{
    padding: 0px;
    margin: 0px;
}
body{
    font: 15px/1  Arial, Helvetica, sans-serif ;
    background-image: url('../images/bg/bg5.jpg');
    background-position: center;
    background-repeat:no-repeat ;
    background-size: cover; 
    
}
 ul{
    padding: 0px;
    margin: 0px;
}
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
/* header*/
header a:hover{
    font-weight: bold;
    color:cornflowerblue;
}
header .current a{
    color:rgb(193, 223, 25);
    font-weight: bolder;
    text-transform: uppercase;
} 
.highlights{
    color: dimgray;
    font-weight: bold;
}
header{
    
    font: 50px bold hel Cambria, Cochin, Georgia, Times, 'Times New Roman', serifvetica;
    text-transform: capitalize;
    background-color: rgb(27, 26, 26);  
    color: whitesmoke;
    padding:20px;
}
header #branding h1{
    float: left;
    font-size: 50PX;
    margin-top: 20px;
    word-spacing: 0.3em;
    text-shadow: 2px 2px 4px #363333; 
}
header nav{
    float: right;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px ;
    margin-top: 40px;
}
header a{
    color: honeydew;
    font-size:13px;
    text-decoration: none;
    font-family: fantasy;
    text-transform: uppercase;
}
#heading{
    padding: 10px;
    font-size: 40px;
}
/* body of content*/
.topic h1{
    font: 80px bolder Courier New;
    color:black; 
    text-align: center; 
}
.grid{
    display: grid;
    grid-template-columns:70% 30% ;
    grid-gap: 0.5em;
    margin: 10px; 
    margin-top: 30px; 
}
.box1 h3{
    font: larger bold Monaco;
    color:white; 
    text-align: center; 
    padding: 40px 0 5px 0;  
}
.box1,.box2{
    background-color: black;
    font: larger normal Monaco;   
    color: white;   
    margin: 5px;
    line-height: 1.4em;
    text-align: justify;  
}
.box1{
    opacity: 0.8;
}
.box1 p{  
    padding: 10px 30px;  
}
.box2{    
   padding: 30px;  
   color: rgb(248, 245, 245);
   background-color: black;
   opacity: 1;
}
.g2{
    margin-top: 20px;
    background-color: black;
    padding: 20px;
    opacity: 0.7;
    color: whitesmoke;
    margin: 10px 70px;
    font: larger normal Monaco;
}
.g2 h3{
    text-align: center;
    padding: 20px;
}
.g2 h4{
    padding: 10px 0 0 0;
}
.btn1{
    border-style: none;  
    width: 110px;
    height: 30px;
    font-size: 14px;
    border-radius: 15px;
    background-color: dimgrey;
    margin-top: 10px;
}
.btn1:hover{     
    color: rgb(2, 2, 2);
    width: 130px;
    height: 30px; 
    opacity: 0.5;
}
.btn1 a{
    text-decoration: none;
    color: rgb(2, 2, 2); 
}
/* footer*/
.last{
    background-image: url('../images/bg/bg6.jpg');
    color: whitesmoke;
    padding:100px;
}
.last h4{
    margin-bottom: 30px;
    text-align: center;
    font: 20px bold  Monaco;
}
.last h3{
    text-align: center;
    font: 30px bold  Monaco;
    padding: 10px;
}
.last p{
    text-align: center;
    padding-top:50px;
  margin-bottom: 10px;
  font: 15px bold  Courier New;
}
.follow {
    display: flex;
    justify-content: center;
}
.follow img{
      width: 50px;
      height: 30px;
      margin-bottom: 40px;
      border-radius: 50%;
}
