*{
    padding: 0px;
    margin: 0px;
}
body{
    font: 15px/1  Arial, Helvetica, sans-serif ;
    background-color:  #f0f7ff ;
}
 ul{
    padding: 0px;
    margin: 0px;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
/* header*/
header a:hover{
    font-weight: bold;
    color:cornflowerblue;
    
}
header .current a{
    color:rgb(193, 223, 25);
    font-weight: bolder;
    text-transform: uppercase;
} 
.highlights{
    color: dimgray;
    font-weight: bold;
}
header{
    
    font: 50px bold hel Cambria, Cochin, Georgia, Times, 'Times New Roman', serifvetica;
    text-transform: capitalize;
    background-color: rgb(49, 43, 43);
    color: whitesmoke;
    padding:20px;
}
header #branding h1{
    float: left;
    font-size: 50PX;
    margin-top: 20px;
    word-spacing: 0.3em;
    text-shadow: 2px 2px 4px #363333; 
}
header nav{
    float: right;
}
header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px ;
    margin-top: 40px;
}
header a{
    color: honeydew;
    font-size:13px;
    text-decoration: none;
    font-family: fantasy;
    text-transform: uppercase;
}

/* slide image */
#slider {
    overflow: hidden;
}
#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 10s slider infinite;
}
#slider figure img {
    float: left;
    width: 20%;
    height:600px;
}
@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}
/* search box */
#box {
    padding: 30px;
    align-items: center;
}
#box{
    margin-top: 0;
    background-color: rgb(49, 43, 43);
    color: whitesmoke;
    padding: 30px;
    align-items: center;
}
#box .content h3{
    font: 60px bold ;
    text-align: center;
}
.content  form{
    text-align: center;
    margin: 10px;
 }
 .content input[type="text"]{
    height: 50px;
    width: 500px;
    border: none;
 }
 /* logo img */
#logo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
    margin: 0px 100px 0px 100px;
    align-items: center;  
}
.con{
    display: grid;
    border: solid 2px black;
    background-color: rgb(49, 43, 43);
    color: whitesmoke;
    border-style: none;
    margin-top: 30px;
}
.con img{   
   width: 100px;
   height: 80px;
   padding:  5% 37%;
}
.con h1{
    text-align: center;
}
.con p{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 17px;
}
/* popular content */
#sec2 h1{
    font: 50px bold;
    margin:30px 0px;
    padding: 20px;
    text-align: center;
    color:rgb(49, 43, 43);   
}
.place{ 
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
}
.place1{
    border: solid 2px black;
    margin:10px;
    background-color:darkgrey;
    border-style: none;
}
.place1 img{
    display: grid;
    width: 300px;
    height: 200px;
    margin: 30px 0;
    align-items: center;
    padding-left: 70px;
}
.place1 h3{
    margin-top: 5px;
    text-align: center;
    color: black;
    font-size: 20px;   
}
.place1 p{
    margin-top: 10px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
    font-size: 18px;
}
/* follow tag */
#follow{
    background-color:rgb(49, 43, 43);
    color: whitesmoke;
    margin-top: 0;
    margin-bottom: 30px;   
}
#follow h1{
    text-align: center;
    font: 50px bold ;
    padding-top:  30px;  
}
#follow p{
    text-align: center;  
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.bg{
    background-color:darkgrey;
}
#follow figure{
  display:flex;
  justify-content: center; 
}
#follow img{
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
    border-radius: 50%;
    padding: 2px;
}
/* photo gallery*/
#gallery{
   margin: 20px;  
}
#gallery h1{
    font: 40px bold;
    text-align: center;
    margin-bottom: 20px;
}
#gallery figure{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:1em;
}
#gallery figure img{
    width: 300px;
    height: 200px;
    margin: 10px 5px;
}
.box2{
    display: grid;
    grid-template-columns: 70%  20%;
    grid-gap: 0.5em;
    margin: 5px;
    font: 20px/1.2 Times New Roman;
}
#contact{
    background-color: rgb(181, 193, 209);
    grid-column: 1/2;
    list-style: none;
}
#contact h3{
    text-align:center;
    padding-top: 25px;
    font-size: 30px;
}
#contact p{
    text-align:center;
    padding: 10px;
    font: 20px/1.2 Times New Roman;
}
#contact li,a{
    text-align: center;
    text-decoration: none;
    color: black;   
}
.btn-1{
   padding:5px;
   width: 180px;height: 50px;
   margin-right: 10px;margin-top: 35px;
   float: right;
   background-color: rgb(121, 108, 121);
   border-style: none;
}
.box2 a:hover{
    font-weight: bolder;
    color: rgb(7, 7, 7);
}
#reg{   
    background-color: rgb(181, 193, 209);
    padding: 20px;
    grid-column: 2/4;
}
.no-outline{
    background-color: rgb(181, 193, 209);
    border-style: none;
    border-bottom-style: groove;
    width:300px;
    height: 50px;
    color: black;
    font-size: 20px;
}
.button-1{
    width: 200px;
    height:60px;
    background-color: black;
    color:honeydew;
    padding: 10px;
    margin-top: 20px;
    border-style: none;
}
.button-1:hover{
    color: whitesmoke;
    background-color: rgb(41, 45, 53);
    font-weight: bold;
}
#reg h4{
    font: 23px bold Times New Roman;
}
#reg p{
    padding:10px ;
}
#reg a:hover{
    color:darkolivegreen;
    font-weight: bold;
    font-size: 18px;
}
#error {
    color: red;
}
/* footer*/
.last{
    background-image: url('../images/bg/bg6.jpg');
    color: whitesmoke;
    padding:100px;
}
.last h4{
    margin-bottom: 30px;
    text-align: center;
    font: 20px bold  Monaco;
}
.last h3{
    text-align: center;
    font: 30px bold  Monaco;
    padding: 10px;
}
.last p{
    text-align: center;
    padding-top:50px;
    margin-bottom: 10px;
    font: 15px bold  Courier New;
}
.follow {
    display: flex;
    justify-content: center;
}
.follow img{
      width: 50px;
      height: 30px;
      margin-bottom: 40px;
      border-radius: 50%;    
  }
