*{
    padding: 0%;
    margin: 0%;
}
 body{
    background-image: url(../images/bg/bg1.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}
/* header*/
.header{
    padding-right: 85px;
}
.header-half{
color: lightslategrey;
}
.header2{
    padding-bottom: 30px;
    padding-right: 10px;
}
.form1{
 text-align: right;
 margin: 15%;
 padding-top: -100px;
 padding-right: 170px !important;
}
.u1{
    padding: 10px;
    margin: 10px;
    width: 220px;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(20, 20, 20);
    border-style: none;
    color: blanchedalmond;

} 
.btn{
    width: 150px;
    background-color: transparent;
    color: burlywood;
    text-align: center;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    
}
.btn:hover{
    color: lightslategrey;
    border-radius: 20px;
    font-weight: bolder;
}
.error{
    color: red;
}
.container input{
    background: transparent;
    color: black;
    border: 0.1em solid black;
}